
html { 
    background-color: white; 
} 
 
body { 
    width: 70%; 
    margin: auto; 
    padding: 10px; 
    box-shadow: 0px 5px 5px 0px gray; 
} 

 

.container { 
    border: 1px solid gray; 
    background-color: #d9d9d9; 
} 
 
.page-title
{ 
    margin-left: 10px; 
    margin-bottom: -20px;

} 